<div class="container color-dark">
	<div class="col">
		<p>Add a bucket list Item</p>
	</div>
	<div class="col">
		<!-- example of interpellation {{ itemCount }} -->
		<p>Your Bucket list ({{ itemCount }})</p>
	</div>
</div>
<div class="container color-light" [@goals]="goals.length">
	<div class="col">
		<p class="sm">Use this form below to add a new bucket list goal. What do you want to do with your life?</p>
		<form>
			<!-- example of two-way data binding [(ngModel)]="goalText" -->
			<input type="text" name="item" class="txt" placeholder="Life Goal..." [(ngModel)]="goalText">
			<br><span>{{ goalText }}</span>
			<!-- example of property binding [value]="btnText" -->
			<input type="submit" class="btn" [value]="btnText" (click)="addGoalItem()">
		</form>
	</div>
	<div class="col">
		<p class="life-container" *ngFor="let goal of goals; let i=index" (click)="removeGoalItem(i)">
			{{ goal }}
		</p>
	</div>
</div>